<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>ورود به سیستم</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2>ورود به سیستم</h2>-->

<!--    <form action="#" th:action="@{/login}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="username">نام کاربری:</label>-->
<!--            <input type="text" class="form-control" id="username" name="username" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password">رمز عبور:</label>-->
<!--            <input type="password" class="form-control" id="password" name="password" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">ورود</button>-->
<!--    </form>-->

<!--    &lt;!&ndash; نمایش خطا &ndash;&gt;-->
<!--    <div th:if="${param.error}" class="alert alert-danger" role="alert">-->
<!--        نام کاربری یا رمز عبور اشتباه است.-->
<!--    </div>-->

<!--    <div th:if="${param.logout}" class="alert alert-success" role="alert">-->
<!--        با موفقیت خارج شدید.-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->